<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

   

      <!-- Links when logged in -->



      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              
                <i class="fa fa-user"></i> 
              
            </li>
            <li>
              
                <i class="fa fa-cog"></i>  
              
            </li>
            <li>
             
                <i class="fa fa-sign-out"></i>  
              
            </li>
          </ul>
        </div>
      </div>
   
      <!-- Login link (when logged out) -->
 
  
  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>

