<div align="center" style='margin-top: 40vh; transform: translateY(-50%);'>
	<h1>Bienvenue</h1>
<p style='margin-bottom: 40px;'>Pour tenter de gagner une bière, inscrivez vous</p>


<%= link_to 'Créer un compte', new_user_path, class: "btn-treehouse" %>
<%= link_to 'Afficher tous les comptes', users_path, class: 'btn-treehouse'%>

</div>
