.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  margin: 20px;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-treehouse2 {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #5e9bf4;
  transition: background 0.3s ease;
  margin: 20px;
}
.btn-treehouse2:hover {
  opacity: 1;
  background: #134493;
  text-decoration: none;
  color: white;
}
